<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Editing Concert</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Show', [:api,@concert] %> | <%= link_to 'Back', api_concerts_path %>
	</div>
</div>
